body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    width: 100%;
}

.hero-background, .icons-background {
    height: 400px;
    display: flex;
    align-items: center;
}

.banner-background {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: min(5%);
    padding-right: min(5%);
}

.header-background {
    padding: 25px 0;
}

.header-background, .hero-background, .footer {
    background-color: #1F2937;
    margin: 0;
}

.header, .hero-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: min(5%);
    padding-right: min(5%);
}

.icons-content, .quote-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0;
    padding-left: min(5%);
    padding-right: min(5%);
}

.header {
    justify-content: space-between;
}

.header-left {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtext, a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    flex-grow: 1;
}

.hero-content {
    align-items: center;
    gap: 8%;
    justify-content: center;
}

.hero-left, .hero-right {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.sign-up {
    width: 130px;
    height: 35px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 700;
}

.hero-left .sign-up {
    margin-top: 10px;
}

.banner-content .sign-up {
    border: 2px solid #F9FAF8;
}

.icons-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icons-content {
    gap: 7vw;;
}

.image-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 150px;
    text-align: center;
}

.image-text img {
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 15px;
}

h2 {
    top: 0;
    position: absolute;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote-background {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    background-color: #E5E7EB;
}

.quote-content {
    flex-direction: column;
}

.quote-tag {
    font-size: 24px;
    color: #1F2937;
    font-weight: 900;
    align-self: end;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.banner-content {
    box-sizing: border-box;
    background-color: #3882F6;
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 10px;
}

.banner-text {
    display: flex;
    flex-direction: column;
}

.banner-title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.banner-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.footer {
    color: #F9FAF8;
    height: 90px; 
    line-height: 90px;
    text-align: center;
}

.hero-background, .icons-background, .quote-background, .banner-background {
    flex: 1 1 auto;
}