body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
    width: 100%;
}

.hero-background, .icons-background {
    height: 400px;
    display: flex;
    align-items: center;
}

.header-background, .hero-background, .footer {
    background-color: #1F2937;
    margin: 0;
}

.header, .hero-content, .icons-content, .bottom-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: min(5%);
    padding-right: min(5%);
}

.header {
    justify-content: space-between;
}

.header-left {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtext, a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
}

.hero-content {
    align-items: center;
    gap: 8%;
    justify-content: center;
}

.hero-left, .hero-right {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.sign-up {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}

.icons-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icons-content {
    gap: 7vw;
}

.image-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 150px;
    text-align: center;
}

.image-text img {
    height: 150px;
    width: 150px;
    border: 2px solid #3882F6;
    border-radius: 15px;
}

h2 {
    top: 0;
    position: absolute;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}